<div id="landing-container">
  Welcome to the Robot Sports League!
</div>

<% if current_user %>
  <h1>Good to have you back.</h1>
<% else %>
  <h1>Please log in or register your team.</h1>
<% end %>
