<div id="landing-container">
  <h1>Welcome to the Robot Sports League!</h1>
  <img src="https://img.jakpost.net/c/2017/07/31/2017_07_31_30397_1501486720._medium.jpg" alt="robots playing soccer" height="250px" width="400px">
</div>
